header {
    text-align: center;
    /* background-color: aqua; */
    background-color: darkgray;
    border-radius: 25%;
}

.background-container {
    position: fixed;
    /* img will cover 50% of the containers width and adjust the height automatically */
    top: 0;
    left: 0;
    /* ensures the container covers the entire webpage */
    width: 100%;
    height: 100%;
    /* place the container behind other elements */
    z-index: -1;
    /* ensure overflow content is hidden */
    overflow: hidden;
}

.background-image {
    /* style the actualy background image itself */
    width: 100%;
    height: 100%;
    /* object-fit: fill will make the image fill the container completely to prevent distortions */
    object-fit: fill;
    /* add a blurred effect to make the background less distracting */
    filter: blur(1px);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
