header {
    text-align: center;
    background-color: darkgray;
    border-radius: 25%;
}

.background-container {
    position: fixed;
    /* img will cover 50% of the containers width and adjust the height automatically */
    top: 0;
    left: 0;
    /* ensures the container covers the entire webpage */
    width: 100%;
    height: 100%;
    /* place the container behind other elements */
    z-index: -1;
    /* ensure overflow content is hidden */
    overflow: hidden;
    background-image: url('assets/sneaker-wallpaper-20070518065919-scaled-1536x1024\ Small.jpeg');
    background-size: cover;
    background-position: center;
    filter: blur(4px);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
